<footer class="site-footer mt-4">
    <div class="container py-4">
      <div class="row">
        <div class="col-sm-4">
          <h5>Découvrez-nous</h5>
          <ul class="list-unstyled">
            <li><a href="#">accueil</a></li>
            <li><a href="#">Inscivez-vous</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h5>Contactez-nous</h5>
          <ul class="list-unstyled">
            <li>email : LaRuche@gmail.com</li>
            <li>fax : 12334567</li>
            <li>tél : 98 765 432</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h5>Visitez-nous</h5>
          <ul class="list-unstyled">
            <li>Rue de Libérté 108</li>
            <li>Sousse</li>
            <li>Tunisie</li>
          </ul>
        </div>
        <div class="col-sm-3">
            <a href="#"><img src="assets/icons/facebook.svg"></a>&nbsp;
            <a href="#"><img src="assets/icons/instagram.svg"></a>&nbsp;
            <a href="#"><img src="assets/icons/twitter.svg"></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright py-4">
      <p>©2023 Copyright LaRuche</p>
    </div>
  </footer>
